@import "variables";
@import "mixins";

header {
  display: flex;
  margin: 10px 0;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  #header-logo {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    border: 2px solid $dark-color;
    border-radius: 10px;
    width: 100%;
    img {
      border: 2px solid $primary-color;
      border-radius: 10px;
      padding: 30px;
      display: inline-block;
      z-index: 2;
      margin: -2px;
    }
    h1 {
      padding: 0px;
      font-weight: 700;
      font-size: 48px;
      flex-basis: 50%;
      text-align: center;
    }
  }
}
