@import "mixins";
@import "variables";
* {
  box-sizing: border-box;
}
body {
  @include primary-margin;
  padding: 0;
  background-color: $white-color;
  font-family: titilium-web, sans-serif;
  font-weight: 200;
  background-image: url("/img/background/full-bloom.png");
}
.content-box {
  @include flex-row-center-center;
  padding: 20px;
  border: 2px solid $primary-color;
  border-radius: 10px;
  background-color: rgba(108, 186, 1, 0.05);
  margin-top: 10px;
  margin-bottom: 20px;
}
