@import "mixins";
@import "variables";

.content-box {
  .row {
    @include flex-row-center-center;
    width: 100%;
    @include transition;
    .bolder {
      font-weight: 600;
      flex-basis: 40%;
    }
    .prop {
      font-weight: 200;
      flex-basis: 40%;
    }
  }
  .row:hover {
    border-radius: 10px;
    background-color: rgba(108, 186, 1, 0.25);
  }
}
