@import "mixins";
@import "variables";

.content-box {
  .row {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease-in-out;
    .bolder {
      font-weight: 600;
      flex-basis: 40%;
    }
    .prop {
      font-weight: 200;
      flex-basis: 40%;
    }
  }
  .row:hover {
    border-radius: 10px;
    background-color: rgba(108, 186, 1, 0.25);
  }
}
