extends main
block content
    div.content-box
        div.quotes-box
            h1= count
            h2 Quotes stored in database
            h3 Actually in database are #{quoteCount} stored quotes in languages