extends layout

block menu
    include menu.pug

block content
    div.content-box
       h2 Server system information
       script(src='/js/jquery-3.3.1.min.js')
       script(type='text/javascript').var url='#{urlToFetch}'
       script(src='/js/sysinfoUpdate.js')
        

