@media all and (max-width: 1600px) {
  body {
    margin-left: 125px;
    margin-right: 125px; } }

@media all and (max-width: 1200px) {
  body {
    margin-left: 100px;
    margin-right: 100px; } }

@media all and (max-width: 992px) {
  body {
    margin-left: 50px;
    margin-right: 50px; } }

@media all and (max-width: 768px) {
  body {
    margin-left: 10px;
    margin-right: 10px; } }

@media all and (max-width: 554px) {
  body {
    margin-left: 5px;
    margin-right: 5px; } }

@media all and (max-width: 1200px) {
  header #header-logo h1 {
    font-size: 24px;
    margin: 0;
    padding: 0;
    flex-basis: 28%; } }

@media all and (max-width: 768px) {
  header #header-logo {
    border: none;
    flex-flow: column; }
    header #header-logo img {
      width: 100%; }
    header #header-logo h1 {
      display: none;
      font-size: 16px; } }

@media all and (max-width: 554px) {
  header #header-logo img {
    width: 100%; }
  header #header-logo h1 {
    display: none; } }

@media all and (max-width: 768px) {
  .content-box .api-box {
    width: 100%; }
    .content-box .api-box .type-box {
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      padding-bottom: 10px; }
      .content-box .api-box .type-box h2 {
        text-align: center;
        flex-basis: 100%;
        margin-left: 0;
        margin-right: 0; }
      .content-box .api-box .type-box .single-api {
        flex-basis: 100%;
        padding: 0px 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap; }
        .content-box .api-box .type-box .single-api a {
          flex-basis: 100%;
          font-size: 14px;
          text-align: center;
          background-color: rgba(108, 186, 1, 0.15); }
        .content-box .api-box .type-box .single-api .description {
          text-align: center;
          flex-basis: 100%;
          width: 100%;
          display: flex;
          flex-flow: row wrap;
          justify-content: center;
          align-items: flex-start; }
          .content-box .api-box .type-box .single-api .description p {
            flex-basis: 100%; } }
