/* HEADER SECTION START */
header {
  height: 150px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center; }
  header #header-logo {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center; }
  header img {
    border: 2px solid #6cba1c;
    border-radius: 10px;
    padding: 20px;
    display: inline-block; }
  header h1 {
    display: inline-block;
    padding: 20px;
    font-weight: 200; }

/* END OF HEADER SECTION */
/* NAV SECTION START */
ul {
  display: flex;
  flex-flow: row wrap;
  height: 50px;
  justify-content: flex-end;
  align-items: center;
  color: #e7e1e1;
  background-color: #202328;
  list-style-type: none;
  margin: 0;
  border-radius: 15px; }
  ul li {
    flex-basis: 10%; }
    ul li a {
      color: #e7e1e1;
      text-decoration: none;
      font-weight: 100;
      padding: 10px;
      transition: all 0.4s ease-in-out;
      border-radius: 3px; }
    ul li a:hover {
      background-color: #6cba1c; }

/* END OF NAV SECTION */
/* MAIN SECTION START */
* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  background-color: #e7e1e1;
  margin-left: 250px;
  margin-right: 250px;
  font-family: titilium-web, sans-serif;
  font-weight: 200; }

/* END OF MAIN SECTION */
/* SYSYINFO SECTION START */
#sys-info {
  background-color: antiquewhite;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 50px;
  margin-top: 25px;
  border-radius: 15px;
  height: 600px; }

.bolder {
  font-weight: 600;
  flex-basis: 40%; }

.prop {
  font-weight: 200;
  flex-basis: 40%; }

/* END OF SYSINFO SECTION */
