/* HEADER SECTION START */
header {
  display: flex;
  margin: 10px 0;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center; }
  header #header-logo {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #202328;
    border-radius: 10px;
    width: 100%; }
    header #header-logo img {
      border: 2px solid #6cba1c;
      border-radius: 10px;
      padding: 30px;
      display: inline-block;
      z-index: 2;
      margin: -2px; }
    header #header-logo h1 {
      padding: 0px;
      font-weight: 700;
      font-size: 48px;
      flex-basis: 50%;
      text-align: center; }

/* END OF HEADER SECTION */
/* NAV SECTION START */
nav {
  position: sticky;
  top: 10px; }
  nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    color: #e7e1e1;
    background-color: #202328;
    list-style-type: none;
    margin: 0;
    border-radius: 15px;
    opacity: 0.95;
    margin: 0;
    padding: 10px; }
    nav ul li {
      flex-basis: 10%; }
      nav ul li a {
        display: inline-block;
        color: #e7e1e1;
        padding: 15px 25px;
        font-weight: 700;
        text-decoration: none;
        transition: all 0.4s ease-in-out;
        border-radius: 3px; }
      nav ul li a:hover {
        background-color: #6cba1c; }
      nav ul li a.active {
        color: #202328;
        background-color: #6cba1c; }

/* END OF NAV SECTION */
/* MAIN SECTION START */
* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  background-color: #e7e1e1;
  margin-left: 250px;
  margin-right: 250px;
  font-family: titilium-web, sans-serif;
  font-weight: 200;
  background-image: url("/img/background/full-bloom.png"); }

.content-box {
  padding: 20px;
  border: 2px solid #6cba1c;
  border-radius: 10px;
  background-color: rgba(108, 186, 1, 0.05);
  margin-top: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; }

/* END OF MAIN SECTION */
/* SYSYINFO SECTION START */
.content-box .row {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease-in-out; }
  .content-box .row .bolder {
    font-weight: 600;
    flex-basis: 40%; }
  .content-box .row .prop {
    font-weight: 200;
    flex-basis: 40%; }

.content-box .row:hover {
  border-radius: 10px;
  background-color: rgba(108, 186, 1, 0.25); }

/* END OF SYSINFO SECTION */
/* API SECTION START */
.content-box .api-box {
  width: 100%; }
  .content-box .api-box .type-box {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(160, 236, 54, 0);
    border-bottom: 2px solid #6cba1c;
    padding-bottom: 10px; }
    .content-box .api-box .type-box h2 {
      text-align: center;
      flex-basis: 100%;
      margin-left: 0;
      margin-right: 0; }
    .content-box .api-box .type-box .single-api {
      flex-basis: 85%;
      padding: 0px 10px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-flow: row wrap;
      transition: all 0.3s ease-in-out; }
      .content-box .api-box .type-box .single-api a {
        font-family: monospace;
        flex-basis: 40%;
        text-decoration: none;
        font-size: 14px;
        letter-spacing: 0.2em;
        color: #202328; }
      .content-box .api-box .type-box .single-api .description {
        flex-basis: 50%;
        width: 100%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: flex-start; }
        .content-box .api-box .type-box .single-api .description p {
          font-family: "Open Sans", sans-serif;
          font-weight: 400;
          flex-basis: 40%; }
          .content-box .api-box .type-box .single-api .description p span {
            font-weight: 900; }
          .content-box .api-box .type-box .single-api .description p .block {
            display: block;
            margin: 0;
            padding: 0; }
        .content-box .api-box .type-box .single-api .description p.span {
          font-weight: 900; }
    .content-box .api-box .type-box .single-api:hover {
      background-color: rgba(108, 186, 1, 0.25);
      border-radius: 10px; }

/* END OF API SECTION */
/* QUOTES SECTION START */
/* END OF QUOTES SECTION */
